/* Utilities */

.text-blue {
    color: dodgerblue;
}

.text-title h1 {
    font-size: 3rem;
}

.max-w {
    max-width: 100%;
}

/* Header */

.header-fix {
    height: 100px;
    width: 100%;
}

/* Header Top */

.navbar .container-fluid .logo-header {
    width: 80px;
}

.navbar .nav-item .down-arrow {
    width: 15px;
    vertical-align: sub;
}

/* Main */

.viewport-scroll {
    padding-top: 150px;
    min-height: calc(100vh - 100px);
}

/* Jumbotron Buy */

.jumbotron-head {
    height: 900px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.jumbotron-head .row {
    height: 100%;
}

.jumbotron-head .text-jumbotron {
    height: 60%;
}

.jumbotron-head .jumbotron-head-img {
    height: 100px;
    width: 450px;
}

.jumbotron-head .text-jumbotron a {
    background-color: rgb(205,61,15);
}

/* Section Top Game */

.top-game img{
    max-width: 100%;
    border-radius: 25px;
}

/* Info Console */

.info-console .ps5 {
    margin-top: 100px;
}

.info-console .ps5-info a {
    background-color: dodgerblue;
}

/* Game Foreground */

/* TODO REMOVE */

.jumbotron .text-jumbotron-foreground {
    height: 100%;
    background-color: blue;
}

/* New Game */

.game-foreground {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 900px;
    background-position: center;
    background-size: cover;
}

/* New Game */

/* TODO REMOVE */

.new-game .library {
    height: 200px;
}  

/* Explore */

/* TODO REMOVE */

.explore .explore-text {
    height: 200px;
    background-color: sandybrown;
}

/* TODO REMOVE */

.explore .explore-devices {
    height: 200px;
}

/* Playstation Plus */

/* TODO REMOVE */

.plus .row .col-12 {
    height: 200px;
    background-color: red;
}

/* TODO REMOVE-INCOMPLETE */

.plus .row .d-none {
    height: 200px;
    background-color: slategrey;
}

/* <!-- Discount --> */

/* TODO REMOVE */

.discount .title-discount {
    height: 200px;
    background-color: yellow;
}

/* TODO REMOVE */

.discount .img-discount {
    height: 200px;
}

/* Playstation Now */

/* TODO REMOVE */

.ps-now .row .col-12 {
    height: 200px;
    background-color: red;
}

/* TODO REMOVE-INCOMPLETE */

.ps-now .row .d-none {
    height: 200px;
    background-color: slategrey;
}

/* Social */

/* TODO REMOVE */

.social .col-6 {
    height: 100px;
}

/* Footer */