/* Utilities */

.text-blue {
    color: dodgerblue;
}

.bg-orange {
    background-color: rgb(205,61,15);
}

.text-title {
    font-size: 3rem;
}

.max-w {
    max-width: 100%;
}

.font-s {
    font-size: 0.5rem;
    vertical-align: super;
}

.border-r{
    max-width: 100%;
    border-radius: 25px;
}

.bg-darkgrey {
    background-color: rgb(54,54,54);
}

.bg-lightgrey {
    background-color: rgb(217,218,220);
}

.m-150 {
    margin: 150px 0;
}

/* Header */

.header-fix {
    height: 100px;
    width: 100%;
}

header .text-end .sony-text {
    height: 25px;
}

header .lens-img-size {
    height: 30px;
    vertical-align: bottom;
}

/* Header Top */

.navbar .container-fluid .logo-header {
    width: 80px;
}

.navbar .nav-item .down-arrow {
    width: 15px;
    vertical-align: sub;
}

/* Main */

.viewport-scroll {
    padding-top: 100px;
    min-height: calc(100vh - 100px);
}

/* Jumbotron Buy */

.jumbotron-head {
    height: 900px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.jumbotron-head .row {
    height: 100%;
}

.jumbotron-head .text-jumbotron {
    height: 60%;
}

.jumbotron-head .jumbotron-head-img {
    height: 100px;
    width: 450px;
}

/* Section Top Game */

.top-game img{
    max-width: 100%;
}

/* Info Console */

.info-console .ps5 {
    margin-top: 100px;
}

.info-console .ps5-info a {
    background-color: dodgerblue;
}

/* Game Foreground */

.game-foreground {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

/* New Game */

.new-game {
    background-color: rgb(31,31,31);
} 

/* Playstation Plus */

.plus {
    background-color: rgb(190,188,187);
}

/* Playstation Now */

.ps-now .row .col-12, .ps-now .row {
    background-color: rgb(22,28,59);
}

/* Footer */

footer .row .logo, .logo-sony img {
    height: 100px;
}

footer .row .uni-language {
    height: 50px;
}
